body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  font-family: "Brush Script MT", cursive;
  margin: 0%;
}

header {
  width: 100%;
  height: 25px;
  padding: 10px;
  margin: 0;
  background-color: rgba(4, 115, 171, 0.868);
}

footer {
  font-size: smaller;
  text-align: center;
  width: 100%;
  height: 25px;
  padding: 10px;
  margin: 0;
  background-color: rgba(4, 115, 171, 0.868);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.intereact {
  display: flex;
  justify-content: space-evenly;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  width: 400px;
  height: 400px;
  padding: auto;
  margin: auto;
  background-color: white;
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.clear {
  background-color: rgb(229, 171, 37);
}
.clear:focus {
  border: 2px solid rgb(0, 104, 111);
}

.colored {
  background-color: rgb(1, 75, 128);
}
.colored:focus {
  border: 2px solid rgb(0, 104, 111);
}

.start {
  background-color: rgb(59, 71, 82);
}
.start:focus {
  border: 2px solid rgb(0, 104, 111);
}
.setNum {
  background-color: rgb(59, 71, 82);
}
.squares {
  border: 1px solid whitesmoke;
}
#colors {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(39, 36, 36);
}

input[type="number"] {
  text-align: center;
  background-color: rgb(59, 71, 82);
  color: white;
}
